body {
	font-family: 'Open Sans', sans-serif; 
	background: url('light-veneer.png');
	}
#forma {	
		background: url('../img/grey.png');
		margin-top: 25px;
		border: 1px solid black; 
		padding:35px;
		border-radius: 20px;
		font-family: 'Supermercado One', cursive;
		height: 200px;
		}
h2 {text-align: center}

#win {
	font-size: 20px;
	background: url('../img/grey.png');
	text-align: center;
	margin-top: 25px;
	border: 1px solid black; 
	border-radius: 20px;
	height: 200px;
	}

#results {
	font-size: 20px;
	background: url('../img/grey.png');
	text-align: center;
	margin-top: 25px;
	border: 1px solid black; 
	border-radius: 20px;
	}
	
	#dice1, #dice2{
		width:90px;

	}